flask==3.0.3
Flask-Cors==4.0.1
flasgger==0.9.7.1
APScheduler==3.10.4
Flask-APScheduler==1.13.1
jinja2==3.1.4
jsonify==0.5
mysqlclient==2.2.4
SQLAlchemy==2.0.30
requests==2.32.3
urllib3==1.25.8
werkzeug==3.0.3
pycodestyle==2.5.0