<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="../static/styles/header.css">
    <link rel="stylesheet" href="../static/styles/footer.css">
    <link rel="stylesheet" href="../static/styles/coin.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdn.rawgit.com/etpinard/plotlyjs-finance/master/plotlyjs-finance.js"></script>
    <script>
      let apiKey = "{{ api_key }}";
    </script>
    <title>KryptoSide</title>
    <script src="../static/scripts/get_coin_data.js" defer></script>
  </head>
  <body>
    <header>
      <img src="../static/images/KryptoSide_Logo.png" alt="">
      <nav>
        <form action="{{ url_for('redirect_to_index') }}" method="get">
          <button type="submit">Home</button>
        </form>
        <form action="{{ url_for('redirect_to_market') }}" method="get">
          <button type="submit">Market Stats</button>
        </form>
        <form action="{{ url_for('redirect_to_coin') }}" method="get">
          <button type="submit">Coin Stats</button>
        </form>
      </nav>
      <button id="conact">Contact</button>
    </header>
    <section id="coin_info">
      <form>
        <label for="crypto">Select Cryptocurrency: </label>
        <select name="crypto" id="crypto" required>
          {% for coin in crypto_coins %}
              <option value="{{ coin }}" {% if coin == 'Bitcoin' %}selected{% endif %}>{{ coin }}</option>
          {% endfor %}
        </select>
        <button id="submitCoinBtn">Submit</button>
      </form>
      <div id='coin_stats'>
        <div id="coin_id">
          <img src="" alt="" id="coin_logo">
          <span id="coin_name"></span>
          <span id="coin_abbrev"></span>
          <span id="coin_rank"></span>
        </div>
        <span id="coin_price"></span>
        
        <table>
            <tr>
              <td>Market Cap</td>
              <td id="market_cap_val"></td>
            </tr>
            <tr>
              <td>24 Hour trading Volume</td>
              <td id="trading_vol"></td>
            </tr>
            <tr>
              <td>Circulating Supply</td>
              <td id="circ_supply"></td>
            </tr>
            <tr>
              <td>Total Supply</td>
              <td id="tot_supply"></td>
            </tr>
            <tr>
              <td>Max Supply</td>
              <td id="max_supply"></td>
            </tr>
            <tr>
              <td>Website</td>
              <td id="website"></td>
            </tr>
            <tr>
              <td>Community</td>
              <td id="community"></td>
            </tr>
          </tbody>
        </table>
        <div id="coin_desc">
          <h2>About</h2>
          <p id="coinDescription"></p>
        </div>
      </div>
      <div id="coinChart">
        <div class="historyChart" id="candlestickChart"></div>
        <div class="historyChart" id="priceHistoryChart"></div>
        <div class="historyChart" id="marketCapHistoryChart"></div>
        <div class="historyChart" id="marketVolHistoryChart"></div>
      </div>
      
    </section>
    <footer>
      <span>A place for dynamic crypto data</span>
      <span>2024</span>
      <span>Developed by Victor Anokwuru</span>
      <span>contact me @ vc.anokwuru@gmail.com</span>
    </footer>
  </body>