<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="../static/styles/header.css">
    <link rel="stylesheet" href="../static/styles/home.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="../static/scripts/get_date.js"></script>
    <title>KryptoSide</title>
  </head>
  <body>
    <header>
      <img src="../static/images/KryptoSide_Logo.png" alt="">
      <nav>
        <button>Home</button>
        <button>Price Data</button>
        <button>Coin Info</button>
        <button>Market Info</button>
      </nav>
      <div id="date">Today</div>
    </header>
    
  </body>
</html>