<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="../static/styles/header.css">
    <link rel="stylesheet" href="../static/styles/footer.css">
    <link rel="stylesheet" href="../static/styles/home.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="../static/scripts/reorganize_layout_home.js"></script>
    <script src="../static/scripts/nav_responsive.js"></script>
    <script>
      let apiKey = "{{ api_key }}";
    </script>
    <title>KryptoSide</title>
  </head>
  <body>
    <header>
      <img src="../static/images/KryptoSide_Logo.png" alt="KryptoSide Logo">
      <nav>
        <form action="{{ url_for('redirect_to_index') }}" method="get">
          <button type="submit">Home</button>
        </form>
        <form action="{{ url_for('redirect_to_market') }}" method="get">
          <button type="submit">Market Stats</button>
        </form>
        <form action="{{ url_for('redirect_to_coin') }}" method="get">
          <button type="submit">Coin Stats</button>
        </form>
        <form action="{{ url_for('redirect_to_contact') }}" method="get">
          <button type="submit" id="contact">Contact</button>
        </form>
      </nav>
      <img src="../static/images/nav_open.png" alt="" class="nav-open" id="nav-icon">
    </header>
    <section id="intro">
      <img src="../static/images/intro_pic.png" alt="">
      <div id="welcome">
        <h1>KryptoSide</h1>
        <h4>View Stats of Your Favorite Crypto Currencies</h4>
      </div>
    </section>
    <section id="features">
      <div class="feature" id="market_info">
        <div>
          <h2>Access Real-Time Market Data</h2>
          <p class="feature_description">Stay ahead of the curve with up-to-the-minute updates on your favorite digital assets. Whether you're a seasoned trader or a curious enthusiast, KryptoSide provides you with the insights you need to make informed decisions. Dive into the dynamic world of crypto markets with live price tracking, market trends, and comprehensive analysis, all at your fingertips. Start exploring now and take control of your crypto investments!</p>
          <form action="{{ url_for('redirect_to_market') }}" method="get">
            <button class="feature_buttons">See Market Stats</button>
          </form>
        </div>
        <img src="../static/images/crypto_mkt_img.jpg" alt="">
      </div>
      <div class="feature" id="coin_info">
        <img src="../static/images/crypto-coin-list-img.jpg" alt="">
        <div>
          <h2>Historical Crypto Data</h2>
          <p class="feature_description">Gain valuable insights by delving into comprehensive historical data of your favorite digital assets. Whether you're conducting research or analyzing trends, KryptoSide provides detailed records and in-depth analysis to help you understand market movements over time. Start your journey through the past and make more informed decisions for the future of your crypto investments!</p>
          <form action="{{ url_for('redirect_to_coin') }}" method="get">
            <button class="feature_buttons">See Coin Stats</button>
          </form>
        </div>
      </div>
      <div class="feature" id="general_info">
        <div>
          <h2>General Crypto Information</h2>
          <p class="feature_description"> Stay informed with up-to-date articles, in-depth analyses, and expert opinions on the ever-evolving crypto landscape. Discover valuable information, links to essential tools, and a wealth of knowledge to guide your crypto journey. Whether you're a newcomer or a seasoned trader, KryptoSide is your gateway to staying ahead in the world of digital assets. Explore now and stay connected with the crypto community!</p>
          <button class="feature_buttons">See General Info</button>
        </div>
        <img src="../static/images/Crypto-News-img.jpg" alt="">
      </div>
    </section>
    <section id="about">
      <h2>About KryptoSide</h2>
      <p>Welcome to KryptoSide, your one-stop destination for comprehensive cryptocurrency data and statistics. In an ever-evolving digital economy, staying updated with the latest trends, prices, and insights into the cryptocurrency market is essential. KryptoSide provides a user-friendly platform where you can access real-time data, detailed analytics, and historical trends for a wide range of cryptocurrencies.</p>
      <p>KryptoSide is my final foundation-level portfolio project at the ALX Africa Software Engineering Program. It was inspired by my desire to try a few of what I have learnt during the program. I have always wanted to know how to use API for fetching and plotting data. I also wanted to be able to fetch data from a database and display on a web template. These I have achieved using KryptoSide. Althought the project is still in its infant stages. I hope to upgrade it further with features and make it a web service that people can truly use.      
    </section>
    <footer>
      <span>A place for dynamic crypto data</span>
      <span>2024</span>
      <span>Developed by Victor Anokwuru</span>
      <span>contact me @ vc.anokwuru@gmail.com</span>
    </footer>
  </body>
</html>