<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="../static/styles/header.css">
    <link rel="stylesheet" href="../static/styles/footer.css">
    <link rel="stylesheet" href="../static/styles/home.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script>
      let apiKey = "{{ api_key }}";
    </script>
    <title>KryptoSide</title>
  </head>
  <body>
    <header>
      <img src="../static/images/KryptoSide_Logo.png" alt="">
      <nav>
        <form action="{{ url_for('redirect_to_index') }}" method="get">
          <button type="submit">Home</button>
        </form>
        <form action="{{ url_for('redirect_to_market') }}" method="get">
          <button type="submit">Market Stats</button>
        </form>
        <form action="{{ url_for('redirect_to_coin') }}" method="get">
          <button type="submit">Coin Stats</button>
        </form>
      </nav>
      <button id="conact">Contact</button>
    </header>
    <section id="intro">
      <img src="../static/images/intro_pic.png" alt="">
      <div id="welcome">
        <h1>KryptoSide</h1>
        <h4>View Stats of Your Favorite Crypto Currencies</h4>
      </div>
    </section>
    <section id="feature">
      <div id="market_info">
        <div>
          <span class="feature_description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis neque elit, sagittis sit amet tellus sed, lobortis interdum ligula. Aenean quis viverra leo, in dapibus nibh. Proin sodales mauris at maximus facilisis. Etiam ut viverra ex. Vivamus efficitur ipsum nisi, sed bibendum ligula pulvinar nec. Nulla molestie nisl nec urna ultrices condimentum eget non metus. Ut nec ligula ultricies, gravida eros eu, suscipit odio.</span>
          <button class="feature_buttons">See Market Stats</button>
        </div>
        <img src="../static/images/bitcoin-cartoon-pic.jpg" alt="">
      </div>
      <div id="coin_info">
        <img src="../static/images/bitcoin-cartoon-pic.jpg" alt="">
        <div>
          <span class="feature_description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis neque elit, sagittis sit amet tellus sed, lobortis interdum ligula. Aenean quis viverra leo, in dapibus nibh. Proin sodales mauris at maximus facilisis. Etiam ut viverra ex. Vivamus efficitur ipsum nisi, sed bibendum ligula pulvinar nec. Nulla molestie nisl nec urna ultrices condimentum eget non metus. Ut nec ligula ultricies, gravida eros eu, suscipit odio.</span>
          <button class="feature_buttons">See Coin Stats</button>
        </div>
      </div>
      <div id="general_info">
        <div>
          <span class="feature_description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis neque elit, sagittis sit amet tellus sed, lobortis interdum ligula. Aenean quis viverra leo, in dapibus nibh. Proin sodales mauris at maximus facilisis. Etiam ut viverra ex. Vivamus efficitur ipsum nisi, sed bibendum ligula pulvinar nec. Nulla molestie nisl nec urna ultrices condimentum eget non metus. Ut nec ligula ultricies, gravida eros eu, suscipit odio.</span>
          <button class="feature_buttons">See General Info</button>
        </div>
        <img src="../static/images/bitcoin-cartoon-pic.jpg" alt="">
      </div>
    </section>
    <section id="about">
      
    </section>
  </body>
</html>