<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="../static/styles/header.css">
    <link rel="stylesheet" href="../static/styles/footer.css">
    <link rel="stylesheet" href="../static/styles/market.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="../static/scripts/global_mkt_data.js"></script>
    <script src="../static/scripts/get_trending-coins.js"></script>
    <script src="../static/scripts/fetch_market_data.js"></script>
    <script>
      let apiKey = "{{ api_key }}";
    </script>
    <title>KryptoSide</title>
  </head>
  <body>
    <header>
      <img src="../static/images/KryptoSide_Logo.png" alt="">
      <nav>
        <form action="{{ url_for('redirect_to_index') }}" method="get">
          <button type="submit">Home</button>
        </form>
        <form action="{{ url_for('redirect_to_market') }}" method="get">
          <button type="submit">Market Stats</button>
        </form>
        <form action="{{ url_for('redirect_to_coin') }}" method="get">
          <button type="submit">Coin Stats</button>
        </form>
      </nav>
      <a href="#contact_form"><button id="contact">Contact</button></a>
    </header>
    <section id="marketSummary">
      <div class="market_summary" id="totalMarketCap">
        <p>Global Market Cap </p>
        <h3></h3>
      </div>
      <div class="market_summary" id="totalMarketVolume">
        <p>Global 24h Trading Volume </p>
        <h3></h3>
      </div>
      <div class="market_summary" id="trending">
        <p>Trending Coins </p>
        <div id="trending_coin">
          <table id="trendingCoinTable"></table>
        </div>
      </div>
    </section>
    <section id="cryptoTable">
      <table>
        <caption id="table_caption">Cryptocurrency Prices by Market Capitalization</caption>
        <thead>
          <tr id="heading">
            <th>Rank</th>
            <th>Coin</th>
            <th>Price</th>
            <th>1h</th>
            <th>24h</th>
            <th>7d</th>
            <th>30d</th>
            <th>1y</th>
            <th>24h Volume</th>
            <th>Market Cap</th>
          </tr>
        </thead>
        <tbody>
          
        </tbody>
      </table>
    </section>
    <footer>
      <span>A place for dynamic crypto data</span>
      <span>2024</span>
      <span>Developed by Victor Anokwuru</span>
      <span>contact me @ vc.anokwuru@gmail.com</span>
    </footer>
  </body>
</html>