/* Coin-info  section */
#coin_info {
  padding: 0 15vw 0 15vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 8em auto auto;
  z-index: 0;
  margin-top: 120px;
  row-gap: 20px;
}
#coin_info > form {
  grid-column: 1 / 3;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}
label {
  font-size: large;
}
#crypto {
  height: 40px;
  font-size: large;
}
#submitCoinBtn {
  height: 35px;
  width: 6em;
  font-size: medium;
  background-color: #243B55;
  color: white;
  border: 1px solid white;
  border-radius: 4px;
}
#submitCoinBtn:hover {
  cursor: pointer;
  background: #4cae4c;
  color: white;
}
#coin_stats {
  grid-column: 1;
  grid-row: 2;
  padding: 30px;
  background-color: #FFFFF0;
  color: black;
}
#coin_stats > table > tr {
  border-collapse: collapse;
}
table {
  margin: 10px 0 20px 0;
  border-top: 3px solid darkred;
  border-bottom: 3px solid darkred;;
}
td {
  font-size: normal;
  font-weight: normal;
  padding: 3px;
  height:40px
}
#coin_id {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
#coin_name {
  font-size: x-large;
}
#coin_abbrev {
  font-size: large;
}
#coin_price {
  margin-top: 10px;
  font-size: xx-large;
  font-weight: bolder;
  margin-left: 20px;
}
#coinChart {
  grid-column: 2 / 4;
  grid-row: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  font-size: medium;
  margin-left: 20px;
}
#coin_desc {
  grid-column: 1 / 3;
  grid-row: 3;
  margin-top: 40px;
  margin-right: 20px;
}
#coinDescription {
  font-size: medium;
  text-align: justify;
  line-height: 30px;
  z-index: 0;
}
.historyChart {
  width: 100%;
  height: 40vh;
  box-shadow: #636e72 0px 1px 3px 0px, #636e72 0px 0px 0px 1px;
}

@media screen and (max-width: 1600px) {
  #coin_info {
    padding: 0 5vw 0 5vw;
  }
}
@media screen and (max-width: 768px) {
  #coin_info {
    padding: 0 5vw 0 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 0;
    margin-top: 120px;
    gap: 20px;
  }
  #coin_stats {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
  }
  #coin_id {
    justify-content: center;
  }
  #coin_name {
    font-size: large;
  }
  #coin_abbrev {
    font-size: 20px;
  }
  #coin_price {
    margin-top: 10px;
    font-size: x-large;
    font-weight: bold;
    margin-left: 20px;
  }
  #coinChart {
    width: 90vw;
    margin-left: 0px;
    margin-bottom: 20px;
  }
  #coinDescription {
    font-size: 14px;
    text-align: justify;
    line-height: 20px;
    z-index: 0;
  }
  #coin_desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 0;
  }
  #coin_desc > h2 {
    font-size: 18px;
    float: auto;
  }
  table {
    margin-top: 20px;
    margin-bottom: 40px;
  }
  td {
    font-size: 14px;
    font-weight: normal;
    padding-right: 20px;
    height:40px;
  }
}